{% extends "app.html" %}
{% block content %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/01-get-app-token.php">Get Application Token</a></li>
          <li><a href="/02-get-user-token.php">Get User Token</a></li>
          <li><a href="/03-referse-user-token.php">Get referse Token</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <h1>OAuth token examples</h1>
    <p>These examples will generate oauth tokens for the eBay <strong>production</strong>.
    <p><a class="btn btn-primary" href="/01-get-app-token.php" role="button">Get an application token</a></p>
    <p><a class="btn btn-primary" href="/02-get-user-token.php" role="button">Get an user token</a></p>
{% endblock %}
